# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos temporales de Office
~$*

# Archivos generados automáticamente (por si usás herramientas luego)
*.log
*.tmp
node_modules

# Archivos de entorno (si en algún momento usás uno)
.env
